src/provisioning.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="solution" type="solution"/>

  <xs:complexType name="channel">
    <xs:sequence>
      <xs:element name="requestIndex" type="xs:int"/>
      <xs:element name="startingSlot" type="xs:int"/>
      <xs:element name="routingPath" type="xs:int" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="solution">
    <xs:sequence>
      <xs:element name="channels" type="channel" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

